<launch>
    <arg name="trigger_service_name" default="queue_server/trigger_service"/>
    <arg name="update_rate" default="2.0"/>

    <node pkg="queue_server" type="periodic_update_caller_node" name="queue_server_periodic_caller">
        <param name="trigger_service_name" value="$(arg trigger_service_name)"/>
        <param name="update_rate" value="$(arg update_rate)"/>
    </node>
</launch>